{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ScriptNet / {{ competition.name }} </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
    <link href="{% static 'css/sfikas.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'competition' %}#services">ScriptNet</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
          			<li>
				          <a id="home" class="selected" href="{% url 'competition' %}{{ competition.id }}">Competition home</a>
			          </li>
			          {% for tr in competition.track_set.all %}
                <li class="dropdown" id="t1{{ tr.id }}">
                  <a href="{% url 'competition' %}{{ competition.id }}/{{ tr.id }}" style="display:inline-block;padding-right:0px;">Track {{ tr.id }}</a>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#myTools"  style="display:inline-block;padding-left:0px;">
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
				          {% for subtr in tr.subtrack_set.all %}
				          <li>
  					        <a id="t{{ tr.id }}_{{ subtr.id }}" href="{% url 'competition' %}{{ competition.id }}/{{ tr.id }}/{{ subtr.id }}">Subtrack {{ tr.id }}.{{ subtr.id }} </a>
	  			        </li>
				          {% endfor %}
                  </ul>
                </li>                     
			          {% endfor %}
		          	<li>
				          <a id="o" href="#Organizers">Organizers</a>
			          </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- Page Content -->
    <section id="main">
    <div class="container">

        <div class="row">
          &nbsp;
        </div>
        <div class="row">
          &nbsp;
        </div>
        <div class="row">
          &nbsp;
        </div>
        
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ competition.name }}</h1>
                <p class="lead">
        				{% if track %}
        					<header>
          					<h1> Track {{ track.id }} - {{ track.name }} </h1>
        					</header>					
        					{{ track.overview | safe }}
        					{% if subtrack %}		
        						<div class="wrapper wrapper-style2">
        						<article>
        							Subtrack {{ track.id }}.{{ subtrack.id }}
      							<ul>
      							<li>Download data</li>
        							<!-- This has to change definitely -- looks too ugly -->
        							<li><a href="{% url 'competition' %}{{ competition.id }}/{{ track.id }}/{{ subtrack.id }}/submit"> Submit method </a></li>
        							<li><a href="{% url 'competition' %}{{ competition.id }}/{{ track.id }}/{{ subtrack.id }}/viewresults"> View results </a></li>-->
      							</ul>
        						</article>
        						</div>						
        					{% else %}
                                {% if track.subtrack_set.all %}
                                <h3> Choose a subtrack to submit a new method or view the scoreboard: </h3>
                                    <ul>
                                    {% for subtr in track.subtrack_set.all %}
                                    <li> Subtrack {{ track.id }}.{{ subtr.id }}: 
                                        <a href="{% url 'competition' %}{{ competition.id }}/{{ track.id }}/{{ subtr.id }}">{{ subtr.name }}</a> 
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                <h3> There are no available subtracks for the current track. </h3>
                                {% endif %}
                            {% endif %}
          				{% else %}
					        {{ competition.overview | safe }}
				        {% endif %}
                </p>
            </div>

            <div class="col-md-4">
                <div class="well">
                    <h4>News</h4>
				          	{{ competition.newsfeed | safe }}
                </div>

                <div class="well">
                    <h4>Important Dates</h4>
				          	{{ competition.important_dates | safe }}
                </div>


            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->        
    </section>
        <hr><br><br><br>

   <section id="organizers">
    <div class="container">
        <!-- Organizers -->
        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3>Organizers</h3>
        </div>
        <div class="col-md-5"></div>        
        </div>
        <br>
        <div class="row">
            {% for organotes in competition.organizer.all %}
            <div class="col-md-6">
				<article class="box"> <!-- Used to reference also box-style2, this is nowhere to be found -->
                    <!-- TODO: Fix this, it gives a 404 
					<span class="image-left circle-image">
                        <img src="{{ organotes.avatar.url }}" width="100%" />
                    </span> -->
					<h3 class="inlinify"><a href="mailto:{{ organotes.user.email }}">
                        {{ organotes.user.first_name }} {{ organotes.user.last_name }}
                    </a></h3>
                    {% for aff in organotes.affiliations.all %}
                        [{{ aff.name }}]&nbsp;
                    {% endfor %}
                    <br><br>
					<p>
                        {{ organotes.shortbio }}
                    </p>
				</article>
            </div>            
            {% endfor %}
        </div>
   </div>
   </section>     
        <hr>

    <div class="container">    
    <section>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>READ - a Horizon 2020 e-infrastructure project </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </section>
    </div>


    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>