{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}


        				{% if track %}
                                  {% if competition.track_set.all.count > 1 %}                        
        					        <header>
          					        <h1> 
                                    {% trans "Track" %} {{ track.percomp_uniqueid }} - 
                                    {{ track.name }} </h1>
        					        </header>
                                  {% endif %}					
        					{{ track.overview | safe }}
        					{% if subtrack %}
                                    {% if track.subtrack_set.all.count > 1 %}
                                        <h3>{% trans "Subtrack" %} {{ track.percomp_uniqueid }}.{{ subtrack.pertrack_uniqueid }} - {{ subtrack.name }}</h3>
                                    {% endif %}
                                    <ul>
                                        {% for publink in subtrack.publiclink_set.all %}
                                            {% if publink.externalLink %}
                                            <li><a href="{{ publink.externalLink }}">
                                                {{ publink.legend }}
                                                </a></li>
                                            {% else %}
          							        <li><a href="{{ publink.downloadableFile.url }}">
                                                {{ publink.legend }}
                                                </a></li>
                                            {% endif %}                                        
                                        {% endfor %}

                                        {% if user.is_authenticated %}
            							<li><a href="{% url 'submit' competition_id=competition.id track_id=track.percomp_uniqueid subtrack_id=subtrack.pertrack_uniqueid %}">{% trans "Submit a new method for evaluation" %}</a></li>
                                        {% else %}
                                        <li>{% trans "Submit a new method for evaluation" %} ({% trans "you have to" %} <a href="{% url 'index' %}#login">{% trans "login </a> first" %})</li>
                                        {% endif %}
        							    <li><a href="{% url 'viewresults' competition_id=competition.id track_id=track.percomp_uniqueid subtrack_id=subtrack.pertrack_uniqueid %}">{% trans "View results for all available methods" %}</a></li>                                        
          							</ul>
        					{% else %}
                                {% if track.subtrack_set.all %}
                                <h3> {% trans "Please choose one of the available subtracks" %}: </h3>
                                    <ul>
                                    {% for subtr in track.subtrack_set.all %}
                                    <li> {% trans "Subtrack" %} {{ track.percomp_uniqueid }}.{{ subtr.pertrack_uniqueid }}: 
                                        <a href="{% url 'competition' competition_id=competition.id track_id=track.percomp_uniqueid subtrack_id=subtr.pertrack_uniqueid %}">{{ subtr.name }}</a> 
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                <h3> {% trans "There are no available subtracks for the current track" %}. </h3>
                                {% endif %}
                            {% endif %}
          				{% else %}
					        {{ competition.overview | safe }}
				        {% endif %}