{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}


	<div class="wrapper wrapper-style1 wrapper-first">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'index' %}#services">ScriptNet</a>
                <a class="navbar-brand" href="{% url 'methodlist' competition_id=competition.id %}"><small>{% trans "My submissions" %}&nbsp;<small><small>[{{ user.first_name }} {{ user.last_name }}]</small></small></small></a>
                {% else %}
                <a class="navbar-brand" href="{% url 'index' %}#services">ScriptNet</a>
                {% endif %}            
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
          		    <li>
				        <a id="home" class="selected" href="{% url 'competition' competition_id=competition.id %}">{% trans "Competition home" %}</a>
			        </li>
                    <li>
                        <a id="home" class="" href="{% url 'scoreboard' competition_id=competition.id %}">{% trans "Scoreboard" %}</a>
			        </li>
			        {% for tr in competition.track_set.all %}
                <li class="dropdown" id="t1{{ tr.percomp_uniqueid }}">
                  <a href="{% url 'competition' competition_id=competition.id track_id=tr.percomp_uniqueid %}" style="display:inline-block;padding-right:0px;">
                      {% if competition.track_set.count == 1 %}
                      {% trans "Participate in competition" %}
                      {% else %}
                      {% trans "Track" %} {{ tr.percomp_uniqueid }}
                      {% endif %}
                  </a>
                        {% if tr.subtrack_set.count > 1 %}                  
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#subtracks"  style="display:inline-block;padding-left:0px;">
                        <b class="caret"></b> <!-- This caret shows a wrong url sometimes, but probably doesnt matter -->
                        </a>
                        <ul class="dropdown-menu">
				            {% for subtr in tr.subtrack_set.all %}
				            <li>
  					        <a id="t{{ tr.percomp_uniqueid }}_{{ subtr.pertrack_uniqueid }}" href="{% url 'competition' competition_id=competition.id track_id=tr.percomp_uniqueid subtrack_id=subtr.pertrack_uniqueid %}">{% trans "Subtrack" %} {{ tr.percomp_uniqueid }}.{{ subtr.pertrack_uniqueid }} </a>
	  			            </li>
				            {% endfor %}
                        </ul>
                        {% endif %}                        
                </li>                     
			        {% endfor %}
                    <li>
                        <a id="current_level_submissions" href="{% url 'index' %}{{ competition.id }}{% if track %}/{% endif %}{{ track.percomp_uniqueid }}{% if subtrack %}/{% endif %}{{ subtrack.pertrack_uniqueid }}/viewresults/">{% trans "All submissions for this " %}
                        {% if not subtrack or track and track.subtrack_set.all.count == 1 or competition.track_set.all.count == 1 %}
                            {% if not track or competition.track_set.all.count == 1 %}
                                {% trans "competition" %}
                            {% else %}
                                {% trans "track" %}
                            {% endif %}
                        {% else %}
                            {% trans "subtrack" %}
                        {% endif %} 
                        </a>
                    </li>
		          	<li>
				        <a id="o" href="#organizers">{% trans "Organizers" %}</a>
			        </li>
			   </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
		</div>
        <!-- /.container -->
