{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ScriptNet / {{ competition.name }} </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<script src="{% static 'competitionsite/js/jquery.min.js' %}"></script>
	<script src="{% static 'competitionsite/js/config.js' %}"></script>
	<script src="{% static 'competitionsite/js/skel.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'competitionsite/css/skel-noscript.css' %} " type="text/css">
	<link rel="stylesheet" href="{% static 'competitionsite/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'competitionsite/css/style-desktop.css' %}" type="text/css">
</head>
<body>
	<nav id="nav">
	 		<!-- <a id="logo" href="http://vc.ee.duth.gr" style="float:left;vertical-align: middle;padding: 0; margin: 6px 0 0 0;border-radius: 0" target="_blank">
			<img src="images/logo_square.png" height="40px" style="float: left" />
		</a> -->		
		<ul class="container">
			<li>
				<a id="home" class="selected" href="{% url 'competition' %}{{ competition.id }}">Home</a>
			</li>
			{% for tr in competition.track_set.all %}
			<li>
				<a id="t1{{ tr.id }}" href="{% url 'competition' %}{{ competition.id }}/{{ tr.id }}">Track {{ tr.id }}</a>
			</li>
				{% for subtr in tr.subtrack_set.all %}
				<li>
					<a id="t{{ tr.id }}_{{ subtr.id }}" href="{% url 'competition' %}{{ competition.id }}/{{ tr.id }}/{{ subtr.id }}">Subtrack {{ tr.id }}.{{ subtr.id }} </a>
				</li>
				{% endfor %}
			{% endfor %}
			<li>
				<a id="o" href="#Organizers">Organizers</a>
			</li>
		</ul>
	</nav>
	<!-- Home -->
	<div class="wrapper wrapper-style1 wrapper-first">
		<article class="container" id="top">
			<div class="row">
				<div class="12u">
					<header>
						<h3>ScriptNet <!-- <span style="color: darkorange;position: relative;">Net --> </span></h3>
						<h1 style="font-size: 3em;">
						{{ competition.name }}
						</h1>
					</header>
				</div>
			</div>
			<div class="row">
				{% if track %}
				<div id="mainText" class="8u" style="color: black;text-align: justify;">
					<header>
					<h1> Track {{ track.id }} - {{ track.name }} </h1>
					</header>					
					{{ track.overview | safe }}
					{% if subtrack %}		
						<div class="wrapper wrapper-style2">
						<article>
							Subtrack {{ track.id }}.{{ subtrack.id }}
							<ul>
							<li>Download data</li>
							<!-- This has to change definitely -- looks too ugly -->
							<li><a href="{% url 'competition' %}{{ competition.id }}/{{ track.id }}/{{ subtrack.id }}/submit"> Submit method </a></li>
							<li><a href="{% url 'competition' %}{{ competition.id }}/{{ track.id }}/{{ subtrack.id }}/viewresults"> View results </a></li>-->
							</ul>
						</article>
						</div>						
				</div>						
					{% endif %}					
				{% else %}
				<div id="mainText" class="8u" style="color: black;text-align: justify;">
					{{ competition.overview | safe }}
				</div>
				{% endif %}
				<div id="news" class="4u">
					<header>
						<h2>News</h2>
					</header>
					{{ competition.newsfeed | safe }}
				</div>
				<div id="important_dates" class="4u">
					<header>
						<h2>Important Dates</h2>
					</header>
					{{ competition.important_dates | safe }}
				</div>
			</div>
		</article>
	</div>
	<!-- Organizers -->
	<div class="wrapper wrapper-style3">
		<article id="Organizers">
			<header>
				<h2>Organizers</h2>

			</header>
			<div class="container">
				<div class="row">
					<div class="12u">
					</div>
				</div>
				<div class="row">
					<div class="6u">
						<article class="box box-style2">
							<span class="image-left circle-image"><img src="images/ipratika.png" width="100%" /></span>
							<h3><a target="_blank" href="http://utopia.duth.gr/~ipratika/">Ioannis Pratikakis</a></h3>
							<p>Assistant Professor at the Department of Electrical and Computer Engineering, Democritus University of Thrace, Xanthi, Greece.</p>
						</article>
					</div>
					<div class="6u">
						<article class="box box-style2">
							<span class="image-left circle-image"><img src="images/zagoris.jpg" width="100%" /></span>
							<h3><a target="_blank" href="http://www.zagoris.gr">Konstantinos Zagoris</a></h3>
							<p>Post-Doctoral Researcher at the Department of Electrical and Computer Engineering, Democritus University of Thrace, Xanthi, Greece.</p>
						</article>
					</div>

				</div>
				<div class="row">
					<div class="6u">
						<article class="box box-style2">
							<span class="image-left circle-image"><img src="images/bgat.jpg" width="100%" /></span>
							<h3><a target="_blank" href="http://www.iit.demokritos.gr/~bgat">Basilis Gatos</a></h3>
							<p>Researcher at the Institute of Informatics and Telecommunications of the National Center for Scientific Research "Demokritos", Athens, Greece.</p>
						</article>
					</div>
					<div class="6u">
						<article class="box box-style2">
							<span class="image-left circle-image"><img src="images/louloudis.jpg" width="100%" /></span>
							<h3><a target="_blank" href="http://www.iit.demokritos.gr\~louloud">Georgios Louloudis</a></h3>
							<p>Research Associate at the Institute of Informatics and Telecommunications of the National Center for Scientific Research "Demokritos", Athens, Greece.</p>
						</article>
					</div>

				</div>
				<div class="row">
					<div class="6u">
						<article class="box box-style2">
							<span class="image-left circle-image"><img src="images/Nikolaos_Stamatopoulos.jpg" width="100%" /></span>
							<h3><a target="_blank" href="http://users.iit.demokritos.gr/~nstam/">Nikolaos Stamatopoulos</a></h3>
							<p>Research Associate at the Institute of Informatics and Telecommunications of the National Center for Scientific Research "Demokritos", Athens, Greece.</p>
						</article>
					</div>
				</div>
			</div>
		</article>
	</div>
</body>

</html>
