{% extends "competitions/competition.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}


<hr><h3>{% trans "Followed competitions" %}</h3>
{% if request.user.individual.watchers.all %}
    <p>{% trans "You are currently following these competitions:" %}
    <ul>
    {% for s in request.user.individual.watchers.all %}
        <li>{{ s.name }}
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "You are not following any competitions yet." %}
{% endif %}
<br><br>

<hr><h3>{% trans "Submissions to this competition" %}</h3>
{% if table.rows %}
    <form action="" method="post">
    {% csrf_token %} 
    {% render_table table %}    
    {% buttons %}
    <div class="row">
    <div class="col-lg-4">
    <button class="btn btn-default" type="submit" name="publicize">{% trans "Publicize" %}</button>        
    </div>    
    <div class="col-lg-4">
    <button class="btn btn-default" type="submit" name="privatize">{% trans "Privatize" %}</button>
    </div>    
    <div class="col-lg-4">
    <button class="btn btn-default" type="submit" name="delete">{% trans "Delete" %}</button>        
    </div>    
    </div>
    {% endbuttons %}        
    </form>
{% else %}
    <p>{% trans "You have not submitted any methods yet." %}
{% endif %}

<br><br>

{% if request.user.individual in competition.organizer.all %}
<hr><h3>{% trans "Send mail to all participants of this competition" %}</h3>
<form enctype="multipart/form-data" action="" method="post" role="form">
{% csrf_token %}
{% bootstrap_form sendmail_form %}
{% buttons %}
    <button class="btn btn-default" type="submit" name="sendmail_competition">{% trans "Send mail to participants" %}</button>
{% endbuttons %}
</form>			
{% endif %}

{% if request.user.is_superuser %}
<hr><h3>{% trans "Send mail to everyone" %}</h3>
<form enctype="multipart/form-data" action="" method="post" role="form">
{% csrf_token %}
{% bootstrap_form sendmail_form %}
{% buttons %}
    <button class="btn btn-default" type="submit" name="sendmail_all">{% trans "Send mail to everyone" %}</button>
{% endbuttons %}
</form>			
{% endif %}




{% endblock %}