{% extends "competitions/competition.html" %}
{% load staticfiles %}
{% load custom %}
{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
<h2>{% trans "Scoreboard" %}</h2>

{% for tr in competition.track_set.all %}
    {% if competition.track_set.all.count > 1 %}
    <h3>{% trans "Ranking for Track " %}{{ tr.percomp_uniqueid }}: {{ tr.name }} </h3>
    {% endif %}
    {# dictionary is a custom tag declared in templatetags/custom.py #}
    {% render_table scoretable|dictionary:tr.percomp_uniqueid %} 
{% endfor %}

{% endblock %}