{% extends "competitions/competition.html" %}
{% load bootstrap3 %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }} {{ message.tags}}
    </div>
    {% endfor %}
{% else %}
<h3>New submission to the [{{ track.id }}.{{ subtrack.id }}]{{ track.name }}/{{ subtrack.name }} track</h3>
{% endif %}
{% if user.is_authenticated %}
<form enctype="multipart/form-data" action="" method="post" role="form">
{% csrf_token %}
{% bootstrap_form submit_form %}
{% buttons %}
    <button class="btn btn-default" type="submit" name="submit">Submit method results</button>
{% endbuttons %}
</form>					
{% else %}
<br><br><center><h4> You have to <a href="{% url 'competition' %}#login">login</a> first. </h4></center>
{% endif %}
{% endblock %}