{% extends "competitions/competition.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block content %}
{% if not messages %}
<h3>{% trans "New submission to the" %} [{{ track.percomp_uniqueid }}.{{ subtrack.pertrack_uniqueid }}]{{ track.name }}/{{ subtrack.name }} {% trans "track" %}</h3>
{% endif %}
{% if user.is_authenticated %}
<form enctype="multipart/form-data" action="" method="post" role="form">
{% csrf_token %}
{% bootstrap_form submit_form %}
{% buttons %}
    <button class="btn btn-default" type="submit" name="submit">{% trans "Submit method results" %}</button>
{% endbuttons %}
</form>					
{% else %}
<br><br><center><h4> {% trans "You have to" %} <a href="{% url 'index' %}#login">{% trans "login </a> first" %}. </h4></center>
{% endif %}
{% endblock %}