{% extends "competitions/competition.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
<h3>{% trans "Scoreboard for the" %} [{{ track.percomp_uniqueid }}.{{ subtrack.pertrack_uniqueid }}]{{ track.name }}/{{ subtrack.name }} {% trans "track" %}</h3>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
    
{% if subtrack.submission_set.all %}
    {% render_table table %}
{% else %}
    <p>{% trans "There are no submissions and no assigned benchmarks for this subtrack yet" %}!</p>
{% endif %}

{% endblock %}